.app {
  width: 960px;
  margin: 0 auto;
  font-family: 'monospace';
}

.app__search {
  padding: 5px;
  margin-bottom: 1px solid #ccc;
}

.app__search-input {
  width: calc(100% - 5px);
  line-height: 25px;
  border-radius: 5px;
  border: 1px solid #ccc;
  text-align: center;
  background: #eee;
}
